@using SharedLib
<h3>Quote</h3>

<div class="quote">
    <dl>
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Quote.Id</dd>
        <dt class="col-sm-2">Quote</dt>
        <dd class="col-sm-10">@Quote.Quote</dd>
        <dt class="col-sm-2">Said By</dt>
        <dd class="col-sm-10">@Quote.SaidBy</dd>
        <dt class="col-sm-2">When</dt>
        <dd class="col-sm-10">@Quote.When</dd>
        @if (EditLink != null)
        {
            <dt class="col-sm-2">Edit</dt>
            <dd class="col-sm-10">
                <NavLink href="@EditLink">Link</NavLink>
            </dd>
        }
        @if (DeleteLink != null)
        {
            <dt class="col-sm-2">Edit</dt>
            <dd class="col-sm-10">
                <NavLink href="@DeleteLink">Link</NavLink>
            </dd>
        }
    </dl>
</div>

@code {

    [Parameter]
    public QuoteDTO Quote { get; set; } = null!;

    [Parameter]
    public string? EditLink { get; set; }

    [Parameter]
    public string? DeleteLink { get; set; }


}