@page
@model RazorPhones.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Phone database in Razor Pages</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Phone[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone[0].Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone[0].Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone[0].RAM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone[0].PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone[0].Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone[0].Modified)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Phone.OrderByDescending(p => p.Modified).Take(3))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>